<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="style.css">
        <link href="navbar.html" rel="import" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
    </head>
    <body>
      <div >
        {% include 'navbar.html' %}
      </div>
      
        <h1>About</h1>
        <br>
        <div>A dataset is used to show the number of subway stops in each borough and subway line in a chosen borough.</div>
        <div>There are 5 boroughs in NYC: Manhattan, Brooklyn, Queens, The Bronx, and Staten Island.</div>
        <br>
        <div>The following images are my prototypes for this study:</div>
        <br>
        
        <img width="500" src="macro_prototype.jpg" alt="Macro Prototype">
        <img width="500" src="micro_prototype.jpg" alt="Micro Prototype">
        <br>
        <br>
        <div>The first image is a prototype of the All Boroughs page.
          Initially, I wanted to represent the number of subway lines per borough. However, after realizing that many boroughs have a similar amount subway lines, I later changed my data to represent the number of subway stops per borough, as there would be more of a variation between boroughs. Moreover, in the final iteration, I decided to label the boroughs with their full name instead of the shorthand in the prototype, as that would be clearer and easier to understand.</div>
        <br>
          <div>The second image is a prototype of the Borough page. The prototype is similar to the final data representation, with only a few minor tweaks. After receiving feedback from Mr. Gohde, I decided to change the colors of the bars to reflect their subway line colors for readability, and change the positioning and color of the two axis labels to avoid drawing attention away from the actual data.</div>
        <br>
        <br>
        <div>
          {% include 'footer.html' %}
        </div>
    </body>
</html>

