<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="style.css">
        <link href="navbar.html" rel="import" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
    </head>
    <body>
      <div >
        {% include 'navbar.html' %}
      </div>
      
        <h1>About</h1>
        <img src="macro_protoype.jpg" alt="Macro Prototype">
        <img src="micro_protoype.jpg" alt="Micro Prototype">
        <hr>
        <div>A dataset is used to show the number of subway stops in each borough and subway line in a chosen borough</div>
        <div>There are 5 boroughs in NYC</div>
    </body>
</html>

