<html>
    <head>
        <title>All Boroughs</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
    </head>
    <body>
      <div >
        {% include 'navbar.html' %}
      </div>
        <h1>Number of Subway Stops in NYC Boroughs</h1>
        <br>
        <div>
        {% include 'nyc_boroughs.svg' %}
        </div>

        <div>
            <form action="/borough" method="GET">
                <label>Choose a borough:</label><br>
                <select name="borough" id="borough_select">
                    {% for s in shorthand %}
                        <option value="{{s}}">{{ shorthand[s] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit"/>
            </form>
        </div>
     <script>
            let colors = ["#eaf7e2", "#aee2b8", "#6bbf8a", "#3b9f6b", "#2a6d52"]
            let boroughs = {{ boroughs | tojson | safe }}
            let shorthand = {{ shorthand | tojson | safe }}
            let max = {{ max }}
            let min = {{ min }}
            let diff = (max-min)/5

            for(let bo of boroughs){
                let key = bo['name']
                let value = bo['value']
                console.log(key,value)
                changeColor(key,value)
            }

            function changeColor(key,value){
                let g = document.getElementById(key);
                let paths = g.getElementsByTagName("path")

                for(let i = 0 ; i<5 ; i++){
                    if(value >= min+diff*i && value<=min+diff*(i+1)){
                        for (let p of paths) {
                            p.classList.add("level" + (i + 1));
                        }
                        break;
                    }
                }
            }
        </script>
        <div>
          {% include 'footer.html' %}
        </div>
    </body>
</html>

