<html>
    <head>
        <title>All Boroughs</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
    </head>
    <body>
      <div >
        {% include 'navbar.html' %}
      </div>
        <h1>All Boroughs</h1>
        <div>
        {% include 'nyc_boroughs.svg' %}
        </div>
        <br>
        <div x="2000" y="600">
            Manhattan has the most number of subway stops.
            Staten Island has the least number of subway stops.
            The average number of subway stops is 23.
        </div>
        <br>
        <div>
            <form action="/borough" method="GET">
                <label>Choose a borough:</label><br>
                <select name="borough" id="borough_select">
                    {% for s in shorthand %}
                        <option value="{{ shorthand[s] }}">{{ shorthand[s] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Submit"/>
            </form>
        </div>
        
        <div>
            {% include 'footer.html' %}
          </div>
    </body>
</html>
