<html>
    <head>
        <title>{{ borough }}</title>
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <div >
        {% include 'navbar.html' %}
      </div>
      <h1>{{borough}}</h1>
        <div>
            {% include 'borough.svg' %}
        </div>
    </body>
    
    
</html>

